.purple {
    color: #c2a2da
}

.death {
    color: #ff0000
}

.yellow {
    color: #e7e700
}

.grey {
    color: #bbb
}

.green {
    color: #008000
}

.orange {
    color: #eda841
}

.white {
    color: #fff
}