#bootstrap-override {
    background: #282836;
    color: #b2b2b2;
    font-family: Arial, sans-serif;
}

#chatlog-settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em
}

#chatlog-input {
    width: 100%;
    border-radius: 5px;
    resize: none;
}

.btn-space {
    margin-right: 5px;
}

#output {
    padding: 2em;
    -webkit-font-smoothing: none!important;
    font-weight: 700;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 0;
    font-size: 12px;
    line-height: 100%;
}

span {
    width: max-content;
    background-color: #000;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 1px 5px
}